

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/ckeditor/skins/moono/editor.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui/themes/icon.css" rel="stylesheet" />
    <style>
        .red {
            color: red;
        }
    </style>

}
@section Scripts {
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/quantity-management.js"></script>
    <script src="~/app/controllers/product/image-management.js"></script>
    <script src="~/app/controllers/product/whole-price-management.js"></script>
    <script src="~/app/controllers/product/index.js"></script>
    <script>
        var productObj = new ProductController();
        productObj.initialize();

    </script>
}


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Product List</h3>

        <div class="card-tools">
            <div class="row">
                <div class="col-sm-12 form-inline">
                    <select id="ddlCategory" class="form-control form-control-sm mr-sm-2">
                        <option value=''>--Select Category--</option>
                    </select>

                    <div class="input-group input-group-sm mr-sm-2" style="width: 150px;">
                        <input type="text" id="txt-search-keyword" class="form-control" placeholder="Search">

                        <div class="input-group-append">
                            <button id="btn-search" class="btn btn-warning"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <div class="input-group input-group-sm mr-sm-2">
                        <button id="btn-create" class="btn btn-sm btn-primary">Create</button>
                    </div>

                    <div class="input-group input-group-sm mr-sm-2">
                        <a class="btn btn-sm btn-danger" href="~/templates/ProductImportTemplate.xlsx">Template</a>
                    </div>
                    <div class="input-group input-group-sm mr-sm-2">
                        <button class="btn btn-sm bg-success" id="btn-import" type="button"><i class="fas fa-file-import"></i></button>
                    </div>
                    <div class="input-group input-group-sm mr-sm-2">
                        <button class="btn btn-sm bg-purple" id="btn-export" type="button"><i class="fas fa-file-excel"></i></button>
                    </div>
                </div>

            </div>
        </div>



    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-sm table-bordered table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Created Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="tbl-content">
            </tbody>
        </table>


    </div>
    <!-- /.card-body -->

    <div class="card-footer clearfix">
        <div class="row">
            <div class="col-sm-5">
                <div class="dataTables_info" id="datatable-checkbox_info" role="status" area-live="polite">
                    <select id="ddl-show-page">
                        <option value="10" selected="selected">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </select>
                    <span class="item-per-page">
                        mẫu tin/trang
                    </span>
                    Tổng số mẫu tin: <strong id="lbl-total-records"></strong>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="datatables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                    <ul id="paginationUL"></ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="tbl-template" type="x-tmpl-mustache">
    <tr>
        <td scope="row">
            <button class="btn btn-sm btn-default btn-edit" data-id="{{Id}}"><i class="fas fa-pencil-alt"></i></button>

            <button class="btn btn-sm btn-danger btn-delete" data-id="{{Id}}"><i class="far fa-trash-alt"></i></button>

            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-images"><i class="fa fa-image"></i></a>
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-quantity"><i class="fas fa-hourglass-start"></i></a>
            <a href="#" data-id="{{Id}}" class="btn btn-xs btn-whole-price"><i class="fas fa-money-bill"></i></a>
        </td>
        <td>{{Name}}</td>
        <td>{{CategoryName}}</td>
        <td>{{Price}}</td>
        <td>{{{ImageUrl}}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{{Status}}}</td>
    </tr>

</script>


@Html.Partial("_AddEditModal.cshtml")
@Html.Partial("_ImportExcelModal.cshtml")
@Html.Partial("_QuantityManagement.cshtml")
@Html.Partial("_ImageManagement.cshtml")
@Html.Partial("_WholePriceManagement.cshtml")